.cle{
    clear:left;
}

.formUser{
    text-align: center;
    margin:0 auto;
    background-color: #f5f5f5;
   width:50%;
}
/*-----------Login-----------------*/
.btnLogar{
    horizontal-align:center;
}
#tLogin{
    text-align: center;
}

#pgHeader{
    margin:0 auto;
}

#pgFooter{
    margin:0 auto;
}

/*------------Home Gerente----------------*/
div.tudo {
        height: 100%;
        background: -webkit-linear-gradient(top, #088fad 20%, #00d5ff 100%);
}
    
div.sAtual {
        width: 38%;
        display: inline-block;
        font-size: 3vw;
        text-align: center;
        padding: 5vw 0vw 5vw 0vw;
        min-width:40vw;
}
 div.sDespesas {
        width: 38%;
        display: inline-block;
        margin-right: 0vw;
        font-size: 3vw;
        text-align: center;
        padding: 5vw 0vw 5vw 0vw;
        min-width:40vw;
        float:right;
}
div.sPrevisto {
        width: 38%;
        display: inline-block;
        margin-right: 0vw;
        font-size: 3vw;
        text-align: center;
        padding: 5vw 0vw 5vw 0vw;
        min-width:40vw;
        float:right;
}